.domain-search-wrapper {
  width: 100%;
}

.domain-search-box {
  position: relative;
  width: 75%;
  max-width: 900px;
}

.domain-input {
  height: 90px;
  border-radius: 18px !important;
  padding-left: 50px !important;
  padding-right: 180px !important;
  font-size: 18px;
  border: none !important;
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

.domain-input:focus {
  box-shadow: 0 8px 22px rgba(0,0,0,0.2) !important;
}

.search-icon {
  position: absolute;
  left: 30px;
  top: 45%;
  transform: translateY(-50%);
  color: #9aa0a6;
  z-index: 2;
}

.domain-btn {
  position: absolute;
  right: 18px;
  top: 46%;
  transform: translateY(-50%);
  height: 75px;
  padding: 0 26px;
  border-radius: 14px;
  background-color: #117a7a;
  color: white;
  font-weight: 600;
  border: none;
  transition: 0.25s;
}

.domain-btn:hover {
  background-color: #0d6666;
}

@media (max-width: 768px) {

  .domain-search-box {
    width: 95%;
  }

  .domain-input {
    padding-right: 140px !important;
    font-size: 16px;
  }

  .domain-btn {
    padding: 0 16px;
    font-size: 14px;
  }
}