/* =========================
   HEADER SECTION
========================= */
/* =========================
   NAVBAR BASE
========================= */
.main-navbar {
  background-color: #f6f7f9;
}

/* =========================
   LOGO
========================= */
.main-navbar .navbar-brand {
  font-weight: 700;
  font-size: clamp(18px, 2vw, 24px);
  margin-right: auto;
}

.navbar-logo {
  width: 35%;
}

/* =========================
   NAV LINKS 
========================= */

.main-navbar .nav-link {
  position: relative;
  font-weight: 500;
  font-size: clamp(14px, 2.5vw, 18px);
  font-family: var(--ubuntu-text);
  padding: clamp(4px, 1vw, 8px) 0;
  transition: color 0.3s ease;
}

.main-navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #00ff88;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover {
  color: #fff !important;
}

.main-navbar .nav-link:hover::after {
  width: 100%;
}

.custom-toggler {
  display: none;
  background: none;
  border: 1px solid #555;
  padding: 6px 12px;
  border-radius: 6px;
  color: #fff;
}

/* =========================
   FOOTER SECTION
========================= */
.footer-h {
  font-family: var(--ubuntu-text);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

/* =========================
 RESPONSIVE
========================= */
/* ---------- 991.98px Display ---------- */
@media (max-width: 991.98px) {
  .main-navbar {
    position: relative;
  }

  .main-navbar .navbar-nav {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(12px, 3vw, 20px);
    width: 100%;
  }

  .custom-toggler {
    display: block;
  }

  .custom-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #1c1f24;
    padding: 25px 20px;
    border-radius: 0 0 12px 12px;

    transform: translateY(-20px);
    opacity: 0;
    visibility: hidden;

    transition:
      transform 0.45s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.35s ease,
      visibility 0.35s ease;
  }

  .custom-collapse.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .custom-collapse .nav-link {
    text-align: center;
    padding: 10px;
  }

  .custom-collapse .navbar-nav .nav-item:last-child:nth-child(odd) {
    grid-column: span 2;
  }

  /* ------------ Footer ------------ */
  .footer-h {
    font-size: 0.8rem;
  }
}

/* ---------- 992px Display ---------- */
@media (min-width: 992px) {
  .main-navbar .navbar-nav {
    display: flex !important;
    flex-direction: row;
    gap: clamp(20px, 2vw, 40px);
  }

  .custom-collapse {
    position: static;
    transform: none !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
}

/* ---------- 1440px Display ---------- */
@media (min-width: 1440px) {
  .main-navbar .navbar-nav {
    gap: clamp(30px, 3vw, 60px);
  }

  .main-navbar .nav-link {
    font-size: clamp(16px, 1vw, 20px);
  }
}

/* ---------- 1920px Display ---------- */
@media (min-width: 1920px) {
  .main-navbar .nav-link {
    font-size: clamp(18px, 1vw, 22px);
  }

  .navbar-logo {
    /* height: clamp(42px, 2vw, 55px); */
    width: 18%;
    height: auto;
  }

  /* ------------ Footer ------------ */
  .footer-h {
    font-size: 1.09rem;
  }
}

/* ---------- 2560px Display ---------- */
@media (min-width: 2560px) {
  .main-navbar {
    padding: clamp(1.2rem, 1vw, 2rem) 0;
  }

  .main-navbar .navbar-nav {
    gap: clamp(40px, 2vw, 80px);
  }

  .main-navbar .nav-link {
    font-size: clamp(20px, 1vw, 24px);
  }

  .navbar-logo {
    width: 30%;
  }

  /* ------------ Footer ------------ */
  .footer-h {
    font-size: 1.15rem;
  }
}

:root {
  /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529; */
  --roboto-text: "Roboto", sans-serif;
  --open-sans-text: "Open Sans", sans-serif;
  --ubuntu-text: "Ubuntu", sans-serif;
  --roboto-slab-text: "Roboto Slab", serif;
  --raleway-text: "Raleway", sans-serif;
  --google-sans-text: "Google Sans", sans-serif;
  --noto-sans-text: "Noto Sans", sans-serif;
}
