.footer-h {
    font-family: var(--open-sans-text);
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.footer-sub {
    font-family: var(--roboto-text);
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;
}
:root {
    /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529; */
    --roboto-text: "Roboto", sans-serif;
    --open-sans-text: "Open Sans", sans-serif;
    --ubuntu-text: "Ubuntu", sans-serif;
    --roboto-slab-text: "Roboto Slab", serif;
    --raleway-text: "Raleway", sans-serif;
    --google-sans-text: "Google Sans", sans-serif;
    --noto-sans-text: "Noto Sans", sans-serif;
}