/* =========================
   HEADER SECTION
========================= */

/* =========================
   NAVBAR BASE
========================= */
.main-navbar {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  z-index: 999;
}

.navbar-collapse {
  transition: all 0.3s ease-in-out;
}

/* =========================
   NAV LINKS
========================= */
.main-navbar .nav-link {
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  font-family: var(--ubuntu-text);
  transition: 0.3s ease;
}

.nav-link:hover {
  border-bottom: 1px solid #00ff00;
}

.main-navbar .navbar-brand {
  margin-right: 50px;
}

/* =========================
   HEADER RESPONSIVE
========================= */
.navbar-logo {
  height: 40px;
  width: auto;
  transition: all 0.3s ease;
}

@media (min-width: 768px) {
  .navbar-logo {
    height: 48px;
  }
}

@media (min-width: 1200px) {
  .navbar-logo {
    height: 55px;
  }
}

@media (min-width: 1920px) {
  .navbar-logo {
    height: 65px;
  }
}

@media (min-width: 1400px) {
  .main-navbar .nav-link {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  .main-navbar .nav-link {
    font-size: 18px;
  }
}

/* ===== MOBILE & TABLET GRID VIEW ===== */
@media (max-width: 991.98px) {
  .navbar-collapse {
    padding-top: 20px;
  }

  .navbar-collapse .navbar-nav {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
  }

  .navbar-collapse .nav-link {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 12px 10px;
    border-radius: 8px;
    font-size: 16px;
  }

  .navbar-collapse .nav-link:hover {
    background-color: rgba(76, 175, 80, 0.15);
  }
}

/* =========================
   FOOTER SECTION
========================= */
.footer-h {
  font-family: var(--open-sans-text);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.footer-sub {
  font-family: var(--roboto-text);
  font-size: 0.8rem;
  font-weight: 300;
  font-style: normal;
}

:root {
  /* --primary-color: #007bff;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #212529; */
  --roboto-text: "Roboto", sans-serif;
  --open-sans-text: "Open Sans", sans-serif;
  --ubuntu-text: "Ubuntu", sans-serif;
  --roboto-slab-text: "Roboto Slab", serif;
  --raleway-text: "Raleway", sans-serif;
  --google-sans-text: "Google Sans", sans-serif;
  --noto-sans-text: "Noto Sans", sans-serif;
}
